.main-block {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .main-block__item {
    height: 5vh;
    width: 80%;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px; }
    .main-block__item-number {
      width: 2%;
      padding: 10px; }
    .main-block__item-todo {
      width: 75%;
      padding: 10px; }
    .main-block__item-deadline {
      width: 10%;
      padding: 10px; }
    .main-block__item-delete {
      width: 2%;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      cursor: pointer; }
