.main-block {
  height: 100vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .main-block__item {
    height: 5vh;
    width: 80%;
    border-radius: 10px;
    margin: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px; }
    .main-block__item-number {
      width: 2%;
      padding: 10px; }
    .main-block__item-todo {
      width: 75%;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase; }
    .main-block__item-deadline {
      width: 10%;
      padding: 10px;
      color: gray; }
    .main-block__item-delete {
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: red;
      margin: 5px; }
    .main-block__item-add {
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: green;
      margin: 5px; }

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  top: 0;
  left: 0;
  display: none; }
  .modal-wrapper .modal-delete {
    height: 300px;
    width: 500px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: lightgray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .modal-wrapper .modal-delete .close-modal {
      top: 10px;
      right: 10px;
      position: absolute;
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: red;
      margin: 5px; }
    .modal-wrapper .modal-delete .sure {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column; }
      .modal-wrapper .modal-delete .sure .question {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase; }
      .modal-wrapper .modal-delete .sure .yes {
        cursor: pointer;
        height: 50px;
        width: 60%;
        border-radius: 5px;
        border: 2px solid black;
        color: white;
        font-weight: bold;
        background-color: green;
        margin: 5px;
        box-sizing: border-box; }
      .modal-wrapper .modal-delete .sure .no {
        cursor: pointer;
        height: 50px;
        width: 60%;
        border-radius: 5px;
        border: 2px solid black;
        color: white;
        font-weight: bold;
        background-color: red;
        margin: 5px;
        box-sizing: border-box; }
