$bg: lightgray;
$itembg: white;

.main-block {
  height: 100vh;
  width: 100%;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__item {
    height: 5vh;
    width: 80%;
    border-radius: 10px;
    margin: 15px;
    background-color: $itembg;
    display: flex;
    align-items: center;
    padding: 10px;
    &-number {
      width: 2%;
      padding: 10px;
    }
    &-todo {
      width: 75%;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &-deadline {
      width: 10%;
      padding: 10px;
      color: gray;
    }
    &-delete {
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: red;
      margin: 5px;
    }
    &-add {
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: green;
      margin: 5px;
    }
  }
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  .modal-delete {
    height: 300px;
    width: 500px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: $bg;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .close-modal {
      top: 10px;
      right: 10px;
      position: absolute;
      cursor: pointer;
      height: 3vh;
      width: 30px;
      border-radius: 5px;
      border: 1px solid black;
      font-weight: bold;
      background-color: red;
      margin: 5px;
    }
    .sure {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content:center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      .question {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .yes {
        cursor: pointer;
        height: 50px;
        width: 60%;
        border-radius: 5px;
        border: 2px solid black;
        color: white;
        font-weight: bold;
        background-color: green;
        margin: 5px;
        box-sizing: border-box;
      }
      .no {
        cursor: pointer;
        height: 50px;
        width: 60%;
        border-radius: 5px;
        border: 2px solid black;
        color: white;
        font-weight: bold;
        background-color: red;
        margin: 5px;
        box-sizing: border-box;
      }
    }
  }
}
